:root {
    --brand-color: #95E1D3;
    --second-brand-color: #F38181;
    --title-color: #333333;
    --text-color: #B6B6B6;
    --text-btn-color: #FFFFFF;
    --main-font: "Montserrat", sant-serif;
    --subtitle-font: "Kaushan Script", sant-serif;
    --text-font: "Roboto", sant-serif;
}