.header {
    padding-bottom: 12px;
    padding-top: 17px;
}

.header-list {
    display: flex;
    gap: 55px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: var(--brand-color);
    font-weight: 700;
    font-size: 30px;
}

.header-list-link {
    color: var(--brand-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-list-link:hover {
    color: var(--second-brand-color);
}

.header-list-link:hover {
    border-bottom: 3px solid var(--second-brand-color); 
    padding-bottom: 10px;
    transition: 0.4s;
}

.header-link-active {
    color: var(--second-brand-color);
    border-bottom: 3px solid var(--second-brand-color); 
    padding-bottom: 10px;
}